/* ----------------------- CSS Formulário de Entrada -------------------------*/
.FormEntrada{
    position: absolute;
    width: 50vw;
    height: 45vh;
    background-color: #ffffff;
    border: solid 1px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transform: translate(-133%, -12%);
    z-index: 100;
  
  }
  form{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    
  }
  .FormEntrada h2{
    text-align: center;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    font-size: 25px;
  }
  .close:hover {
	
	color: rgba(0, 0, 0, 0.647);
	cursor: pointer;
	transition: 0.5s;
}
  form input{ 
    margin: 10px;
    border: solid 2px rgb(94, 94, 94);
    border-radius: 10px;
    height: 30px;
  }
  #titulo{
    width: 47vw;
  }
  #descricao{
    width: 47vw;
  }
  #enviar{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #003366;
    color: #ffffff;
   transform: translate(18vw, 50%);
  }
  h1{
    text-align: center;
  }
#cadButton{
    float: right;
    margin: 10px;
    transform: translate(0, -10vh);
}
#cadButton i{
    font-size: 40px;
    color: #003366;
}

#verForm{
    color: #003366;
    font-size: 20px;
    position: relative;
    left: -3%;

}
