/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* ************************* Menu ************************************* */

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(31, 31, 31);
  transition: width 0.3s ease;
  overflow: hidden;
   box-shadow: 0 4px 8px 0 rgba(71, 33, 223, 0.2), 0 6px 20px 0 rgba(21, 18, 52, 0.326);
  z-index: 1000;
}

.menu-lateral.expandido {
  width: 250px;
}

.menu-lateral h4{
  justify-self: center;
}

.toggle-btn {
  position: absolute;
  right: -20px;
  font-size: 20px;
  background-color: #ffffff;
  color: rgb(6, 0, 76);
  border: none;
  cursor: pointer;
}

/* .itens-menu {
  padding-top: ;
} */

.itens-menu ul {
  list-style: none;
  padding: 0;
}

.itens-menu li {
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;

  transition: max-height .3s ease-out;
  
}

.itens-menu i {
  font-size: 20px; /* Tamanho do ícone */
  margin-right: 10px; /* Espaço entre o ícone e o texto */

}

.itens-menu span {
  display: inline-block;
  font-size: 16px;
  color: rgb(7, 7, 7);
  text-transform: capitalize;
}

.fa {
  font-size: 24px; /* Tamanho do ícone */
  color: rgb(14, 0, 144);
}
/* .itens-menu li:hover {
  background-color: #000e695e;
  
} */

/* ************************* APP ***************************************/
main {
  margin-left: 60px; /* Dá espaço para o menu lateral */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.menu-lateral.expandido ~ main {
  margin-left: 250px; /* Quando o menu está expandido, o conteúdo se ajusta */
}
header{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve para dar profundidade */
  border-radius: 5px;
  font-style: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color:aliceblue;
  font-size: 10px;
  font-family: sans-serif;
  color: #0b005b;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1; /* Fica atrás do conteúdo */

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color:aliceblue;
  font-size: 15px;
  font-family: sans-serif;
  color: #070707;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1; /* Fica atrás do conteúdo */

  box-shadow: 0 4px 8px rgba(11, 0, 59, 0.952); /* Sombra leve para dar profundidade */

}

/* ***************************** Fim Bloco App ************************ */

/* ******************************* BLOCO HOME ************************** */

.HomeConteudo{
  color: black;
  position: relative; /* necessário pro z-index funcionar */
  z-index: -1;
  max-height: 100vh;
  margin-top: 50px;
  min-height: 600px;
  text-align: center;
  display: grid;
  grid-gap: 20px; /* Maior espaço entre os blocos */
  grid-template-columns: 2fr 1fr; /* Proporção melhorada para as colunas */
  grid-template-rows: auto; /* Ajusta a altura automaticamente */
  max-width: 100%;
  background-color: #ffffff;
  padding: 20px; /* Espaçamento interno para os itens */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve para dar profundidade */
}
.item-1, .item-2, .item-3 {
  position: relative;
  z-index: 1;
}

/* ------------------- Blocos principais ------------------- */

.item-1 {
  display: inline;
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 400px;
}

.item-2 {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* ------------------- Notícia ------------------- */

.news-card {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news-card-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.news-card-content p {
  font-size: 1em;
  color: #555;
}

.news-card-content a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.news-card-content a:hover {
  text-decoration: underline;
}

/* ------------------- Lista de Produtos ------------------- */

#noticia-titulo {
  margin: 3px;
  font-size: 50px;
  color: #05377c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.icon-prod {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  vertical-align: middle;
}

.lista-prod {
  display:list-item;
  padding: 10px;
  overflow: auto; /* melhor que scroll fixo */
  max-height: 300px;
  text-align: left;
  
}

.prod-item {
  margin: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.prod-desc {
  margin: 10px;
  padding-left: 10px;
}

/* ------------------- Slideshow ------------------- */

.mySlides {
  display: none;
  width: 700px;
  max-height: 500px;
  margin: 5px;
  border-radius: 2%;
}

/* ------------------- Cabeçalho ------------------- */

.titulo-header {
  font-size: 50px;
  text-align: center;
}

.formula-item {
  border: 1px #a1a1a1 solid;
  border-radius: 10px;
  margin: 10px;
}

#formula-desc {
  margin: 5px;
  font-size: 15px;
}

.form-header {
  margin: 5px;
  height: 40%;
  max-width: 100%;
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}
/*----------------------------------------------*/
/* ******************** Bloco de Formulas *************************/
.FormulasConteudo{
width: 92vw;
align-items: center;
}

.searchBar {
  min-width: 90%;
  margin-left: 5%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #f8f8f8;
  border: rgba(128, 128, 128, 0.806) solid 1.5px;
  box-shadow: 0 2px 2px rgba(18, 0, 105, 0.363);
  color: #070707;
}
.CardContainer{
  width: 92vw;
  height: 74vh;
  overflow-y: auto;
}


.CardFormula{
  margin: 0 10px 10px 0;
  width: 90vw;
  height: 12vh;
  background-color: #95b1d60f;
  box-shadow: 0 2px 2px rgba(18, 0, 105, 0.249);
  border-radius: 15px;
}

.CardFormula h3, p{
  margin: 5px 25px;
}
.CardFormula i{
  color: #003366;
  font-size: 20px;
  position: relative;
  left: 90%;
  bottom:  50%;
  margin: 10px;
}
.Tabela{
  border-collapse: collapse;
  margin: 10px; 
  width: 90vw; 
  display: block; 
  height: 65vh; 
  overflow-y: auto;
}

.Tabela thead {
	position: sticky; /* Faz o cabeçalho fixo */
	top: 0;
	background-color: #b9cae2; /* Fundo para diferenciar */
	z-index: 1; /* Garante que o cabeçalho fique acima */
}

.Tabela th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.Tabela th{
  padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	width: 20vw;

}

.Tabela td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	width: 27.5vw;

}


tr:hover {
	
	background-color: #cbcbcba5;
	cursor: pointer;
	transition: 0.5s;
}

/*----------------------- Busca Avançada ---------------------*/
.BuscaConteudo {
  width: 92vw;
}

.buscaContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
}

.select-propriedades {
  grid-column: 1;
  grid-row: 1;
  max-width: 300px;
  min-width: 300px;
  height: 73vh;
  width: 20vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.227);
  border-radius: 10px;
  overflow-y: auto;
}
.select-aplicacao {
  max-width: 300px;
  min-width: 300px;
  height: 150px;
  overflow-y: auto;
  width: 20vw;
}
.select-familias {
  max-width: 300px;
  min-width: 300px;
  height: 150px;
  overflow-y: auto;
  width: 20vw;
}

.TabelaContainer {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 70vh;
  overflow-y: auto; /* Apenas o container faz o scroll */
  background-color: white;
  margin: 10px;
}

.Tabela-busca {
  width: 65vw;
  border-collapse: collapse;
  margin: 0;
}

.Tabela-busca thead {
  position: sticky;
  top: 0;
  background-color: rgb(231, 244, 255);
  color: rgb(0, 0, 99);
  border-radius: 10px;
  z-index: 2;
  font-size: 18px;
}

.Tabela-busca th, .Tabela-busca td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 10vh;
}

.Tabela-busca tbody{
  font-size: 14px;
}
.Tabela-busca th {
  text-align: center;
}

tr:hover {
  background-color: #cbcbcba5;
  cursor: pointer;
  transition: 0.5s;
}
/* ********************* Modal Formulas ************************ */
.VerFormulas{
  position: absolute;
  width: 50vw;
  height: 70vh;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transform: translate(40%, -110%);
  z-index: 100;
}


.VerFormulas div{
  margin: 10px;
}

.VerFormulas h2{
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-size: 25px;
}
